@using PCDCRSystem.Models
@{
    ViewBag.Title = "إدارة المشاريع";
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>إدارة - <span class="semi-bold">المدن</span></h3>
</div>

<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/cultures/kendo.culture.en-GB.min.js")"></script>

<script>
    kendo.culture("en-GB");
</script>
@(Html.Kendo().Grid<CtiyViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CityID).Width(50).Hidden();
        columns.Bound(p => p.CityName).Width(100).HeaderHtmlAttributes(new { @title = "اسم المدينة" }).Width(100).Title("المدينة");
      

        columns.ForeignKey(p => p.ProvinceID, (System.Collections.IEnumerable)ViewData["province"], "ProvinceID", "ProvinceName")
                   .Title("المحافظة").Width(100);

        columns.Command(command => { command.Edit().Text("تعديل"); command.Destroy().Text("حذف"); }).Width(100);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة مدينة جديدة");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp))

           .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Events(events => events.Error("errorHandler"))
        .Model(model =>
        {
            model.Id(p => p.CityID);
            model.Field(p => p.CityID).Editable(false);
            model.Field(p => p.ProvinceID).DefaultValue(1);
        })
        .Read(read => read.Action("city_Read", "City"))
        .Update(update => update.Action("city_Update", "City"))
        .Create(create => create.Action("city_Create", "City"))
        .Destroy(destroy => destroy.Action("city_Destroy", "City"))
    )
)

<script type="text/javascript">
    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
