@using PCDCRSystem.Models
@{
    ViewBag.Title = "إدارة المشاريع";
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>إدارة - <span class="semi-bold">المشاريع</span></h3>
</div>

<script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/cultures/kendo.culture.en-GB.min.js")"></script>

<script>
    kendo.culture("en-GB");
</script>
@(Html.Kendo().Grid<ProjectViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ProjectID).Width(50).Hidden().HeaderHtmlAttributes(new { @title = "ProductID" }).Width(100);
        columns.Bound(p => p.ProjectName).Width(100).HeaderHtmlAttributes(new { @title = "اسم المشروع" }).Width(100).Title("اسم المشروع");
        columns.Bound(p => p.StartDate).Width(100).HeaderHtmlAttributes(new { @title = "تاريخ البداية" }).Width(100).Format("{0:dd/MM/yyyy}").Title("تاريخ البدء");
        columns.Bound(p => p.EndDate).Width(100).HeaderHtmlAttributes(new { @title = "تاريخ النهاية" }).Width(100).Format("{0:dd/MM/yyyy}").Title("تاريخ الانتهاء");

        columns.ForeignKey(p => p.ProgrameID, (System.Collections.IEnumerable)ViewData["programs"], "ProgramID", "ProgramName")
                   .Title("البرنامج").Width(100);
        columns.Bound(p => p.Status).Width(30).HeaderHtmlAttributes(new { @title = "الحالة" }).ClientTemplate("<input type='checkbox' disabled='disabled' #= Status ? checked='checked': '' # class='chkbx' />").HtmlAttributes(new { style = "text-align: center" }).Title("الحالة");

        columns.Command(command => { command.Edit().Text("تعديل"); command.Destroy().Text("حذف"); }).Width(100);
    })
    .ToolBar(toolBar =>
    {
        toolBar.Create().Text("اضافة مشروع");
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(w => w.Title("تعديل بيانات المشروع")))
     .Selectable(selectable => selectable
            .Mode(GridSelectionMode.Multiple))
           .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Events(events => events.Error("errorHandler"))
        .Model(model =>
        {
            model.Id(p => p.ProjectID);
            model.Field(p => p.ProjectID).Editable(false);
            model.Field(p => p.ProgrameID).DefaultValue(1);
        })
        .Read(read => read.Action("Project_Read", "Project"))
        .Update(update => update.Action("EditingInline_Update", "Project"))
        .Create(create => create.Action("EditingInline_Create", "Project"))
        .Destroy(destroy => destroy.Action("EditingInline_Destroy", "Project"))
    )
)

<script type="text/javascript">
    function errorHandler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
